<nav class="navbar navbar-expand-lg" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">
      <img class="logo"
        src="https://cdn.discordapp.com/attachments/995501479190343731/1118780477856301187/image.png"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
      aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">
            <img
              src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAT1JREFUSEvtlb8uBUEUxn9fJKJRKTyARASNSiIkFESl1fAEPMB9A9HzBHQahdKfgkhUGnGj8AAKlejIJyu7snfu7s6ue28jpjzzne83c+acjBjw0oD9qQ2wPQ5cpwdakvRS53C1ALZHgVtgNjV9ABYkvcUgUYDtYeACWAzMboAVSR9VkEqA7WT/FNgoMTkBNiW5DBIDHAA7kTIcStptDLDdAvZiNU73W5L2i7SFN7C9BRzVNM9k25KOw5wugO114AwYagj4BNYkXebzOgC259J2HGlonsnfgWRG7rPAD8D2BHAHjP3SPEt7BeYlPSeBPOAJmOzRPEt/lDQTAtrAVJ8AbUnTHYC8se3SwamcWqmracra9A8CFFy/qIyhptEb/AM6us/2FbCcC55LWg1aOaopfYM+Ddu3TfTL7BX2BXxheBkclQOOAAAAAElFTkSuQmCC" />Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/movies">
            <img
              src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAARVJREFUSEvdlbFKA0EYhL9p7K0FgyjEwiYgClY21r6Az5BKi9imUZs0PouPIGKjCGonCj6FhSMbNiHE7LnJZUPwquPfnZmbf37uF4UfFeZncQK2j4ELYLumq1fgVNJN4Bk6sP0JrNUkH8DfJG2OCzie7gO38f1A0r3tvZxawNju80jqf/yog+GB7SvgDHgBWpK+pqhlCawAz8BWyEVSx3Zu7W+BaDW05Q74BnYlPcZWVdaAh8oWzSnkdAb/WuAI6AE7OS6TY5oCB4DtMNYnQBdoVAnNJDAgjCPbBs6B1UlCyylQtEXAIXBdLOScyRm9MymDD2B9WqLE/XdJG+N/07BwLoFmTZEnoPNr4dQkTcIXt5NLOfgBFcWrGThViYgAAAAASUVORK5CYII=" />Películas
            y Series</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/channels">
            <img
              src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAV9JREFUSEvtlU8rRGEUxn8PFuRPQkmRBSULCzaWdjZqFr6AhbLAlxBbG2Wl5Cv4CnYoYuPPwmKSBUpioTSOzu3OdOdt5t5bYxZqzvZ9zvm9Pc957xVNLjV5Pi1ApsNVFpnZCLANTAKjwETmBDDgBngB7oAtSU/lvgrAzKaAc6A3x9A0yTswJ+nBRUnAEbDS4PBy+6Gk1RBwAcz+EeBM0nwIeAUG6wDc5yVgL84n6x5FSeMhoAS01en8kdRuZh3AZrwIPSmUN0kDFYCZdQOfKQ0mqQI3syFgB1hL5pjo/5DUlwT4zb5TACVJrokqB+BLUldokftcryJAbNG67zrQn6J/ljQcAtwit6pWeT7LwG7OkG8lTYeAIjCWtR45z08kLYSAY6CQc0CW7ECSL0DVS54BToEonAbLPxWXVYB4O/wlbwCPMWAxft2dNYCe2XWwfffAvqSrsr71w8mM6v9b9AsxcmgZXAsOoQAAAABJRU5ErkJggg==" />Canales
            de YT</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>