<div class="encabezado">
    <h1 class="titulo">CANALES DE PROGRAMACIÓN FAVORITOS</h1>
</div>
<div class="mi-contenedor">
    <div class="principal">
        <div class="secundario">
            <div class="card">
                <img src="https://yt3.googleusercontent.com/Z69fhRL9_OaXsDz-XsCUe2sGIqU7G1F5Mwl0PwlBsx_ll13K0nLb47q7_RMen7NHvzMVDgd2=s176-c-k-c0x00ffffff-no-rj"
                    class="card-img-top">
                <div class="card-body">
                    <h5 class="nombre_pelicula">HolaMundo</h5>
                    <p class="fecha_pelicula">
                        <span class="badge bg-secondary">617K SUBS</span>
                        296 Videos
                    </p>
                    <a class="btn btn-primary" href="https://www.youtube.com/@HolaMundoDev/featured" target="button"
                        role="button" style="background-color: #d34b8f; border-color: #d34b8f; width: 100%;">Link</a>

                </div>
            </div>
        </div>
        <div class="secundario">
            <div class="card">
                <img src="https://yt3.googleusercontent.com/ytc/AGIKgqNuOVoLg7EEQyI53wupnDWX3FazpielMxMzxAHFgw=s176-c-k-c0x00ffffff-no-rj"
                    class="card-img-top">
                <div class="card-body">
                    <h5 class="nombre_pelicula">MIDUDEV</h5>
                    <p class="fecha_pelicula">
                        <span class="badge bg-secondary">252K SUBS</span>
                        309 Videos
                    </p>
                    <a class="btn btn-primary" href="https://www.youtube.com/@midudev" target="button" role="button"
                        style="background-color: #d34b8f; border-color: #d34b8f; width: 100%;">Link</a>
                </div>
            </div>
        </div>
        <div class="secundario">
            <div class="card">
                <img src="https://yt3.googleusercontent.com/ytc/AGIKgqM0LzBPXokYc-9zqZMHmm3SCL0q5H4waq45-k_vvw=s176-c-k-c0x00ffffff-no-rj"
                    class="card-img-top">
                <div class="card-body">
                    <h5 class="nombre_pelicula">PROGRAMACIÓN ATS (+)</h5>
                    <p class="fecha_pelicula">
                        <span class="badge bg-secondary">588K SUBS</span>
                        451 Videos
                    </p>
                    <a class="btn btn-primary" href="https://www.youtube.com/@ProgramacionATS" target="button"
                        style="background-color: #d34b8f; border-color: #d34b8f; width: 100%;">Link</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="encabezado">
    <h1 class="titulo">CANALES DE ENTRETENIMIENTO FAVORITOS</h1>
</div>
<div class="mi-contenedor">
    <div class="principal">
        <div class="secundario">
            <div class="card">
                <img src="https://yt3.googleusercontent.com/MxmC5C8qCDTKsOEklHsJ8vJxzwnKJ-knBUIF4fpYr29Ko9xmh0DikfeHQE4FiarbzqHWC5YV=s176-c-k-c0x00ffffff-no-rj"
                    class="card-img-top">
                <div class="card-body">
                    <h5 class="nombre_pelicula">URBANROOSTERS</h5>
                    <p class="fecha_pelicula">
                        <span class="badge bg-secondary">5.51MILL SUBS</span>
                        5000 Videos
                    </p>
                    <a class="btn btn-primary" href="https://www.youtube.com/@Urbanroosters" target="button"
                        role="button" style="background-color: #d34b8f; border-color: #d34b8f; width: 100%;">Link</a>

                </div>
            </div>
        </div>
        <div class="secundario">
            <div class="card">
                <img src="https://yt3.googleusercontent.com/pk-jnYnbdNBUKEtBdc3buYbCM0Xu0_TDcVfYON1qAez3CVPbA-FWGyCbF4BaRF1T9MqxjG-mugk=s176-c-k-c0x00ffffff-no-rj"
                    class="card-img-top">
                <div class="card-body">
                    <h5 class="nombre_pelicula">IBAI</h5>
                    <p class="fecha_pelicula">
                        <span class="badge bg-secondary">10.5MILL SUBS</span>
                        1000 Videos
                    </p>
                    <a class="btn btn-primary" href="https://www.youtube.com/@IbaiLlanos" target="button" role="button"
                        style="background-color: #d34b8f; border-color: #d34b8f; width: 100%;">Link</a>
                </div>
            </div>
        </div>
        <div class="secundario">
            <div class="card">
                <img src="https://yt3.googleusercontent.com/ytc/AGIKgqNRr7IEdQ7TplsO8BG-KjG19aCcCpVjiV9l36-9lQ=s176-c-k-c0x00ffffff-no-rj"
                    class="card-img-top">
                <div class="card-body">
                    <h5 class="nombre_pelicula">MRBEAST</h5>
                    <p class="fecha_pelicula">
                        <span class="badge bg-secondary">160MILL SUBS</span>
                        739 Videos
                    </p>
                    <a class="btn btn-primary" href="https://www.youtube.com/@MrBeast" target="button"
                        style="background-color: #d34b8f; border-color: #d34b8f; width: 100%;">Link</a>
                </div>
            </div>
        </div>
        <div class="secundario">
            <div class="card">
                <img src="https://yt3.googleusercontent.com/FxisGVasXluJ_a5EaUB1f0h4A6QCy-39G8OD2Wd2-ufRt1ahZj3B7eUERJFfPM8K_BvmAVCwJQ=s176-c-k-c0x00ffffff-no-rj"
                    class="card-img-top">
                <div class="card-body">
                    <h5 class="nombre_pelicula">THEGREFG</h5>
                    <p class="fecha_pelicula">
                        <span class="badge bg-secondary">17.9MILL SUBS</span>
                        3500 Videos
                    </p>
                    <a class="btn btn-primary" href="https://www.youtube.com/@TheGrefg" target="button"
                        style="background-color: #d34b8f; border-color: #d34b8f; width: 100%;">Link</a>
                </div>
            </div>
        </div>
    </div>
</div>