<div class="encabezado">
    <h1 class="titulo">Sagas de Películas Favoritas</h1>
</div>
<div class="mi-contenedor">
    <div class="principal">
        <div class="secundario">
            <div class="card">
                <img src="https://www.themoviedb.org/t/p/original/rCdEN70nBLJfrzE7NwPtCSxjjrA.jpg"
                    class="card-img-top" />
                <div class="card-body">
                    <h5 class="nombre_pelicula">Rápidos y Furiosos</h5>
                    <p class="fecha_pelicula">
                        <span class="badge bg-secondary">12+</span>
                        2009 | Mayo 29
                    </p>
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Más Información
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>This is the first item's accordion body.</strong>
                                    <code>accordion-body</code>.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="secundario">
            <div class="card">
                <img src="https://www.ecartelera.com/carteles/4500/4578/001_m.jpg" class="card-img-top" />
                <div class="card-body">
                    <h5 class="nombre_pelicula">Spider-man</h5>
                    <p class="fecha_pelicula">
                        <span class="badge bg-secondary">13+</span>
                        2002 | Mayo 03
                    </p>
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Más Información
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>This is the first item's accordion body.</strong>
                                    <code>accordion-body</code>.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="secundario">
            <div class="card">
                <img src="https://www.ecartelera.com/carteles/1400/1479/001_m.jpg" class="card-img-top" />
                <div class="card-body">
                    <h5 class="nombre_pelicula">Transformers</h5>
                    <p class="fecha_pelicula">
                        <span class="badge bg-secondary">13+</span>
                        2007 | Julio 3
                    </p>
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Más Información
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>This is the first item's accordion body.</strong>
                                    <code>accordion-body</code>.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="secundario">
            <div class="card">
                <img src="https://es.web.img2.acsta.net/pictures/14/02/24/11/10/117666.jpg" class="card-img-top" />
                <div class="card-body">
                    <h5 class="nombre_pelicula">MI : Misión Imposible</h5>
                    <p class="fecha_pelicula">
                        <span class="badge bg-secondary">14+</span>
                        1996 | Mayo 22
                    </p>
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Más Información
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>This is the first item's accordion body.</strong>
                                    <code>accordion-body</code>.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="encabezado">
    <h1 class="titulo">Series Favoritas</h1>
</div>
<div class="mi-contenedor">
    <div class="principal">
        <div class="secundario">
            <div class="card">
                <img src="https://californiaoneway.com/wp-content/uploads/2016/03/Screen-Shot-2016-11-30-at-8.40.22-PM.png"
                    class="card-img-top" />
                <div class="card-body">
                    <h5 class="nombre_pelicula">Grey's Anatomy</h5>
                    <p class="fecha_pelicula">
                        <span class="badge bg-secondary">14+</span>
                        2005 | Marzo 27
                    </p>
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Más Información
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>This is the first item's accordion body.</strong>
                                    <code>accordion-body</code>.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="secundario">
            <div class="card">
                <img src="https://i.blogs.es/ea759d/new-amsterdam/840_560.jpeg" class="card-img-top" />
                <div class="card-body">
                    <h5 class="nombre_pelicula">New Amsterdan</h5>
                    <p class="fecha_pelicula">
                        <span class="badge bg-secondary">16+</span>
                        2018 | Septiembre 25
                    </p>
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Más Información
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>This is the first item's accordion body.</strong>
                                    <code>accordion-body</code>.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="secundario">
            <div class="card">
                <img src="https://4.bp.blogspot.com/-A4IJZJmaRAM/Va5aabaOLsI/AAAAAAAAAeQ/ReHN9LDAaKI/s1600/531520927.jpg"
                    class="card-img-top" />
                <div class="card-body">
                    <h5 class="nombre_pelicula">Suits</h5>
                    <p class="fecha_pelicula">
                        <span class="badge bg-secondary">16+</span>
                        2011 | Junio 23
                    </p>
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Más Información
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>This is the first item's accordion body.</strong>
                                    <code>accordion-body</code>.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>